<%- include("partials/header.ejs") %>
<body>
    <h1>hello from fadi</h1>
    <button type="submit"><a href="/create-post">create-post</a></button>
    <button type="submit"><a href="/view-post">view-post</a></button>
</body>
</html>