<%- include("partials/header.ejs") %>
<body>
    <div class="hero-section">
        <div class="container">
        <h1 class="form-h1">Welcome to you personal blogs</h1>
        <hr>
        <p class="from-p">what would you like to do?</p>
        <div class="btn-group">
            <a href="/create-post"><button type="submit" class="btn create-btn">create-post</button></a>
            <a href="/view-post"><button type="submit" class="btn  view-btn">view-post</button></a>
        </div>
    </div>

    </div>
    
    
   
</body>
</html>